<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="top-section">
    <div class="logo" *ngIf="!isCollapsed">
      <i class="bi bi-building"></i>
      <span>Hotel San Juan</span>
    </div>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i
        class="bi"
        [ngClass]="
          isCollapsed ? 'bi-arrow-right-square' : 'bi-arrow-left-square'
        "
      ></i>
    </button>
  </div>

  <div class="sidebar-links">
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="bi bi-house-door"></i>
      <span *ngIf="!isCollapsed">Inicio</span>
    </a>
    <a routerLink="clientes" routerLinkActive="active">
      <i class="bi bi-people"></i>
      <span *ngIf="!isCollapsed">Clientes</span>
    </a>
    <a routerLink="/reservaciones" routerLinkActive="active">
      <i class="bi bi-calendar-check"></i>
      <span *ngIf="!isCollapsed">Reservaciones</span>
    </a>
    <a routerLink="/ordenesdecompra" routerLinkActive="active">
      <i class="bi bi-cart-check"></i>
      <span *ngIf="!isCollapsed">Ordenes Compra</span>
    </a>
    <a routerLink="proveedores" routerLinkActive="active">
      <i class="bi bi-truck"></i>
      <span *ngIf="!isCollapsed">Proveedores</span>
    </a>
    <a routerLink="empleados" routerLinkActive="active">
      <i class="bi bi-person-badge"></i>
      <span *ngIf="!isCollapsed">Empleados</span>
    </a>
    <a routerLink="servicios" routerLinkActive="active">
      <i class="bi bi-cart"></i>
      <span *ngIf="!isCollapsed">Servicios</span>
    </a>
  </div>

  <div class="logout" *ngIf="!isCollapsed">
    <button class="btn btn-danger w-100 mt-4">
      <i class="bi bi-box-arrow-right me-2"></i>Cerrar sesión
    </button>
  </div>
</div>